{% extends 'base.html.twig' %}

{% block body %}
    <h2 class = "text-center register-title">Edit Profile</h2>
    <div class = "container col-md-6 register-form">
        <form name="register" action="{{ path('user_edit') }}" method="post">
            <div class="form-group">
                <label for="user_email">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" value = {{ user.email }} name="user[email]" required>
            </div>
            <div class="form-group">
                <label for="user_full_name">Full Name</label>
                <input type="text" class="form-control" placeholder="Full Name" value = {{ user.fullName }} name="user[fullName]" required>
            </div>
            <div class="form-group">
                <label for="user_username">Username</label>
                <input type="text" class="form-control" placeholder="Username" value = {{ user.username }} name="user[username]" required>
            </div>
            <a class = "btn btn-default" href="{{ path('forum_index') }}">Cancel</a>
            <button type="submit" class="btn btn-primary register-btn">Edit</button>
            {{  form_row(form._token) }}
        </form>
    </div>
{% endblock %}

