{% extends 'base.html.twig' %}

{% block body %}
    <h2 class = "text-center ask-question-title">Ask Question</h2>
    <div class = "container col-md-6 register-form">
        <form name="register" action="{{ path('question_ask') }}" method="post">
            <div class="form-group">
                <label for="question_title">Title</label>
                <input type="text" class="form-control" placeholder="Title" name ="question[title]" required>
            </div>
            <div class="form-group">
                <label for="question_description">Description</label>
                <textarea class="form-control" rows = "6" name ="question[description]" required></textarea>
            </div>
            <div class="form-group">
                <label for="question_category">Category</label>
                <select class="form-control" name = "question[category]" >
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <a class = "btn btn-default" href="{{ path('forum_index') }}">Cancel</a>
            <button type="submit" class="btn btn-primary ask-question-btn">Ask Question</button>
            {{  form_row(form._token) }}
        </form>
    </div>
{% endblock %}