{% extends 'base.html.twig' %}

{% block body %}
    <div class = "container">
        <div class = "row questions-list">
            {% for question in questions %}
                <div class = "col-md-12 col-sm-12 question">
                    <h2 class = "question-title">{{ question.title }}</h2>
                    <p class = "question-description">{{ question.description }}</p>
                    <p class = "question-category">Category: {{ question.category.name }}</p>
                    <div class = "read-more-btn">
                        <a class = "btn btn-primary" href = "{{ path('question_view', {'id': question.id}) }}">View</a>
                        <a class = "btn btn-success" href = "{{ path('question_edit', {id: question.id}) }}">Edit</a>
                        <a class = "btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal{{ question.id }}" href = "{{ path('question_delete', {id: question.id}) }}">Delete</a>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal{{ question.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Delete question</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this question?
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary cancel-delete-btn" data-dismiss="modal" href = "{{ path('my_questions')}}">Cancel</a>
                                <a type="button" class="btn btn-danger" href = "{{ path('question_delete', {id: question.id}) }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a class = "btn btn-secondary" href = "{{ path('user_profile', {'id': app.user.id})}}">Back</a>
        </div>
    </div>
{% endblock %}