{% extends 'base.html.twig' %}

{% block body %}
<div class ="container">
    <div class ="row">
        <div class = "col-md-12 question">
            <h2 class = "question-title">{{ question.title }}</h2>
            <p class = "question-description">{{ question.description }}</p>
            <p class = "question-category">Category: {{ question.category.name }}</p>
            <p class = "question-author">
                Author: {{ question.author.fullName }}
            </p>
            <div class = "back-btn">
                <a class = "btn btn-secondary" href = "{{ path('forum_index') }}">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

