{% extends 'base.html.twig' %}

{% block body %}
<div class ="container">
    <div class ="row">
        <div class = "col-md-12 question">
            <h2 class = "question-title">{{ question.title }}</h2>
            {% if app.user and (app.user != question.author)%}
                {% if question.isLikedBy(app.user) %}
                    <p class = "switch_like">
                        <a href="{{ path('switch_like', {id: question.id}) }}">Dislike</a>
                    </p>
                {% else %}
                    <p class = "switch_like">
                        <a href="{{ path('switch_like', {id: question.id}) }}">Like</a>
                    </p>
                {% endif %}
            {% endif %}
            <p class = "question-description">{{ question.description }}</p>
            <p class = "question-category">Category: {{ question.category.name }}</p>
            <p class = "question-author">
                Author: {{ question.author.fullName }}
            </p>

            {% if app.getUser() and (app.getUser().isAuthor(question) or app.getUser().isAdmin()) %}
            <a class = "btn btn-success" href = "{{ path('question_edit', {id: question.id}) }}">Edit</a>
            <a class = "btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal" href = "{{ path('question_delete', {id: question.id}) }}">Delete</a>
            {% endif %}
            <a class = "btn btn-secondary" href = "{{ path('forum_index') }}">Back</a>

            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Delete question</h5>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this question?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary cancel-delete-btn" data-dismiss="modal" href = "{{ path('question_view', {'id': question.id}) }}">Cancel</a>
                            <a type="button" class="btn btn-danger" href = "{{ path('question_delete', {id: question.id}) }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

