{% extends 'base.html.twig' %}

{% block body %}
    <div class = "container">
        {% if questions|length != 0 %}
            <div class = "row questions-list">
                {% for question in questions %}
                    <div class = "col-md-12 col-sm-12 question">
                        <h2 class = "question-title">{{ question.title }}</h2>
                        <p class = "question-description">{{ question.description }}</p>
                        <div class = "row">
                            <div class = "col-md-6">
                                <p class = "question-likes">Likes: {{ question.likers|length }}</p>
                            </div>
                            <div class = "col-md-6">
                                <p class = "question-category">Category: {{ question.category.name }}</p>
                                <p class = "question-author">Asked by: <a href = "{{ path('user_profile', {id: question.author.id}) }}"></a>{{ question.author.fullName }}</p>
                            </div>
                        </div>
                        <p class = "date-asked">
                            Asked on: {{ question.dateAdded|date("F jS \\a\\t g:ia") }}
                        </p>
                        <div class = "read-more-btn">
                            <a class = "btn btn-primary" href = "{{ path('question_view', {'id': question.id}) }}">View</a>
                        </div>
                    </div>
                {% endfor %}
                <a class = "btn btn-secondary" href = "{{ path('user_profile', {'id': app.user.id})}}">Back</a>
            </div>
        {% else %}
            <h2 class = "text-center reject">No results!</h2>
        {% endif %}
    </div>
{% endblock %}

